.footer__column-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: white;
  padding-right: 16px;
  
}

.footer__column-link:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
  }


@media (max-width: 700px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 24px;
  }
}
