.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 48px 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1184px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 24px 16px 0;
  }
}