.lead__title {
  font-style: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 2rem 0;
  max-width: 70%;
  padding: 0;
}

@media (max-width: 768px) {
  .lead__title {
    min-width: 90%;
  }
}

@media (max-width: 700px) {
  .lead__title {
  font-size: 56px;
  line-height: 58px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
