.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0 auto 24px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 700px) {
  .place__paragraph {
    margin: 0 0 24px;
  }
}

@media (max-width: 460px) {
  .place__paragraph {
    margin: 0 16px 24px;
  }
}