.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 32px auto 56px;
  max-width: 540px;
}

@media (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 16px 40px;
    max-width: 288px;
  }
}