
.cover {
  width: 92,5%;
  margin: 0 48px 92px;
  position: relative;
}

.cover::before {
  content: '';
  display: block;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  padding-bottom: 62.5%;
  opacity: 0.8;
}

.cover:hover::before {
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .cover {
     margin: 0 0 92px;
}
}

@media (max-width: 768px) {
  .cover {
     margin: 0 0 88px;
}
}

@media (max-width: 425px) {
  .cover {
     margin: 0 0 64px;
}
}