.cover {
  max-width: 1184px;
  margin: 0 48px 92px;
  position: relative;
}

.cover::before {
  content: '';
  display: block;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  padding-bottom: 62.5%;
  opacity: 0.8;
}

.cover:hover::before {
  opacity: 0.3
}